<div class="mt-4">
    <div>
        <h3>Quản lý người dùng</h3>
       
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên người dùng</th>
                <th scope="col">Mật khẩu</th>
                <th scope="col" colspan="2">Hành động</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.username}}</td>
                <td>{{this.password}}</td>
                <td>
                    <a href="/users/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                </td>
                <td>
                    <form action="/users/{{this._id}}/delete" method="POST">
                        <button type="submit" class="btn btn-link">Xóa</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
